/*******************************************************************************/
/*                     Flex grid (total columns = 6)                           */
/*******************************************************************************/
.row {
	display: flex;
	flex-direction: row;
	margin: 0;
}

.flex-auto {
	box-sizing: border-box;
	flex-basis: 20px;
	flex-grow: 1;
	flex-shrink: 1;
	margin-left: 5px;
	padding: 5px;
	background-color: lightblue;
	margin-top: 2px;
}

.flex-1 {
	box-sizing: border-box;
	flex-basis: calc((100% - 13 * 5px) / 12);
	margin-left: 5px;
	padding: 5px;
	background-color: lightblue;
	margin-top: 2px;
}

.flex-2 {
	box-sizing: border-box;
	flex-basis:  calc((100% - 7 * 5px) / 6);
	margin-left: 5px;
	padding: 5px;
	background-color: lightblue;
	margin-top: 2px;
}

.flex-3 {
	box-sizing: border-box;
	flex-basis: calc((100% - 5 * 5px) / 4);
	margin-left: 5px;
	padding: 5px;
	background-color: lightblue;
	margin-top: 2px;
}

.flex-4 {
	box-sizing: border-box;
	flex-basis: calc((100% - 4 * 5px) / 3);
	margin-left: 5px;
	padding: 5px;
	background-color: lightblue;
	margin-top: 2px;
}

.flex-5 {
	box-sizing: border-box;
	flex-basis: calc((100% - (12 / 5 + 1) * 5px) / (12 / 5));
	margin-left: 5px;
	padding: 5px;
	background-color: lightblue;
	margin-top: 2px;
}

.flex-6 {
	box-sizing: border-box;
	flex-basis: calc((100% - 3 * 5px) / 2);
	margin-left: 5px;
	padding: 5px;
	background-color: lightblue;
	margin-top: 2px;
}

.flex-7 {
	box-sizing: border-box;
	flex-basis: calc((100% - (12 / 7 + 1) * 5px) / (12 / 7));
	margin-left: 5px;
	padding: 5px;
	background-color: lightblue;
	margin-top: 2px;
}

.flex-8 {
	box-sizing: border-box;
	flex-basis: calc((100% - (12 / 8 + 1) * 5px) / (12 / 8));
	margin-left: 5px;
	padding: 5px;
	background-color: lightblue;
	margin-top: 2px;
}

.flex-9 {
	box-sizing: border-box;
	flex-basis: calc((100% - (12 / 9 + 1) * 5px) / (12 / 9));
	margin-left: 5px;
	padding: 5px;
	background-color: lightblue;
	margin-top: 2px;
}

.flex-10 {
	box-sizing: border-box;
	flex-basis: calc((100% - (12 / 10 + 1) * 5px) / (12 / 10));
	margin-left: 5px;
	padding: 5px;
	background-color: lightblue;
	margin-top: 2px;
}

.flex-11 {
	box-sizing: border-box;
	flex-basis: calc((100% - (12 / 11 + 1) * 5px) / (12 / 11));
	margin-left: 5px;
	padding: 5px;
	background-color: lightblue;
	margin-top: 2px;
}

.flex-12 {
	box-sizing: border-box;
	flex-basis: calc((100% - 2 * 5px) / 1);
	margin-left: 5px;
	padding: 5px;
	background-color: lightblue;
	margin-top: 2px;
}
