/*******************************************************************************/
/*       			  	   	  <ul> & <li> elements                             */
/*******************************************************************************/
@mixin navbar() {
	display: $nav_display;
	flex-direction: $nav_flex_dir;
	background-color: $nav_bg;
	justify-content: $nav_justify;
	margin: $nav_margin;
	flex-basis: $nav_basis;
	flex-grow: $nav_grow;
	flex-shrink: $nav_shrink;

	& > li {
		list-style: none;
		margin: 0;
	}

	& > li > a {
		display: block;
		text-decoration: none;
		color: white;
		padding: 10px 50px;
		text-align: center;
		margin: 0;
		border-left: #222222 2px solid;
	}

	& > li > a:hover {
		background-color: #212428;
	}

	& > li > .disabled {
		pointer-events: none;
		cursor: not-allowed;
		color: grey;
	}

	& > li > .active {
		background-color: #656e82;
	}
}

@mixin breadcrumb() {
	display: $bread_display;
	flex-direction: $bread_flex_dir;
	background-color: $bread_bg;
	justify-content: $bread_justify;
	flex-basis: $bread_basis;
	flex-grow: $bread_grow;
	flex-shrink: $bread_shrink;
	padding: $bread_pd;
	margin: $bread_margin;

	& > li {
		list-style: none;
	}

	& > li > a {
		display: inline;
		text-decoration: none;
		color: blue;
		padding: 10px 50px;
		text-align: center;
		margin: 0;
	}

	& > li > a:hover{
		text-decoration: underline;
	}

	& > li >.active {
		pointer-events: none;
		color : black;
		font-weight: bold;
	}

	& li+li:before {
		content: "/";
	}
}

@mixin pagination() {
	display: $pag_display;
	border: $pag_border;
	border-radius: $pag_br;

	& > li {
		display: inline-block;
		height: auto;
		margin: 0;
		padding: 0.55rem 0 0.5rem 0;
		list-style: none;
	}

	& > li:nth-child(1n+2) {
		border-left: 1px solid grey;
	}

	& > li > a {
		color: black;
		padding: 0.5rem;
		text-decoration: none;
	}

	& > li > .active {
		background-color: lightgrey;
	}

	& > li > .disabled {
		pointer-events: none;
		cursor: not-allowed;
		color: grey;
	}
}