/*
 * Buttons
 */

$btn-bg-color: lightgrey;
$btn-font-color: black;

$btn-blue-bg-color: blue;
$btn-blue-font-color: white;

$btn-red-bg-color: red;
$btn-red-font-color: white;

$btn-green-bg-color: green;
$btn-green-font-color: white;
